body {
    background-color: rgb(20, 20, 20);
    color: rgb(200, 200, 200);
    font-family: "Enriqueta";
    display: flex;
    justify-content: center;
    min-height: 90vh;
}
p {
    font-size: 40px;
}
input,
button {
    border: 1px solid white;
    font-size: 20px;
    background-color: rgb(20, 20, 20);
    color: white;
    height: 40px;
    width: 350px;
    margin-bottom: 7px;
}
input {
    font-family: consolas;
    outline: none;
    text-align: center;
}
button {
    width: 355px;
    font-family: "Enriqueta";
    transition: background-color 100ms, color 50ms;
}
button:hover {
    background-color: white;
    color: rgb(20, 20, 20);
}
button:active {
    background-color: rgb(180, 180, 180);
}
.text {
    width: 80%;
    margin-top: 10vh;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    --borderWidth: 1.5px;
    background-color: rgb(20, 20, 20);
    border-radius: var(--borderWidth);
}
::selection {
    color: rgb(20, 20, 20);
    background: white;
}

.text:after {
    content: "";
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 5s ease alternate infinite;
    background-size: 300% 300%;
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
